---
layout: handbook-page-toc
title: "Merge Trains Improvements - Weekly Project Plan"
description: "Merge Trains Improvements - Weekly Project Plan - Pipeline Execution Group."
---

## Merge Trains - Weekly Project Plan

<details>
    <summary markdown="span">Archive</summary>

</details>

### Week of August 7, 2023 (W32)

#### Team Capacity:

  - 1 Backend Engineer

#### Goals:

  - [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/128177) for refactoring of the Merge Request code for [issue](https://gitlab.com/gitlab-org/gitlab/-/issues/420668)
  - [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/127531) for creating a train ref using rebase.

### Week of August 14, 2023 (W33)

#### Team Capacity:

  - 2.5 Backend Engineers

####  Goals:

  - [x]  [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/420949) of [refactoring of the Merge Request code](https://gitlab.com/gitlab-org/gitlab/-/issues/420668).
  - [~]  Create MR(s) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [~] [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/420161) of creating train ref using rebase.

### Week of August 21, 2023 (W34)

####  Team Capacity:

  - 2.5 Backend Engineers

#### Goals:

  - [~] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125921) for fast forward merge of train ref into target branch
  - [~] Merge MR(s) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [~] Merge MR for [Merge request stuck in locked state when getting merged in a merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/389044)
  - [x] Create MR(s) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)

### Week of  August 28, 2023 (W35)

#### Team Capacity:

  - 2 Backend Engineers

#### Goals:

  - [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/125921) for fast forward merge of train ref into target branch
  - [x] Merge [MR](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/129820) for using a different commit message when doing fast forward merges
  - [x] *Pulled forward* Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/418819) for refactoring and aggregate specs
  - [~] Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/418822) for investigating if merge commit and squash_commit_sha tracking is needed
  - [ ] Merge MR(s) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [~] Rollout feature flag for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [ ] *Added* Bug fix for [Issue](https://gitlab.com/gitlab-org/gitlab/-/merge_requests/130467) encountered during initial rollout

### Week of September 4, 2023 (W36)

#### Team Capacity:

  - 2 Backend Engineers

#### Goals:

  - [~] Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/418822) for investigating if merge commit and squash_commit_sha tracking is needed
  - [ ] [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/420161) of creating train ref using rebase.
  - [ ] Merge MR for [Merge request stuck in locked state when getting merged in a merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/389044)

### Week of September 11, 2023 (W37)

#### Team Capacity:

  - 1 Backend Engineers

#### Goals:

  - [ ] Complete [Feature flag rollout](https://gitlab.com/gitlab-org/gitlab/-/issues/282442) of fast forward support or merge trains.
  - [ ] Merge [Issue](https://gitlab.com/gitlab-org/gitlab/-/issues/420000) (minor) for investigate concern that UI pipeline might not be created properly and/or status is delayed. This was raised during review of incomplete code. This might be fixed once all the parts are together)
  - [ ] Fast-follows for issues that arise during roll-out

### Milestone 16.5 (September 18, 2023 - October 16, 2023)

#### Team Capacity:

  - 3 Backend Engineers
  
#### Goals:

  - [ ] Rollout [feature flag](https://gitlab.com/gitlab-org/gitlab/-/issues/422111) for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [ ] Merge MR(s) for [updating merge-result pipelines](https://gitlab.com/gitlab-org/gitlab/-/issues/421025)
  - [ ] Rollout for [merge-result pipeline change.](https://gitlab.com/gitlab-org/gitlab/-/issues/421025)
  - [ ] Any remaining fast-follows for issues that arise during roll-out
  - [ ] Update merge result pipeline to use same mechanisms as fast forward merge trains
  - [ ] Clean-up feature flag for [Add "Merge Immediately" option without interrupting merge train](https://gitlab.com/gitlab-org/gitlab/-/issues/414505)
  - [ ] Clean-up Feature flag roll out of fast forward support for merge trains
  - [ ] Add [developer documentation](https://gitlab.com/gitlab-org/gitlab/-/issues/423893)
  - [ ] Complete bug fix - [Merge train-enabled merge request fails with "Merge request is not mergeable", succeeds on retry without changes](https://gitlab.com/gitlab-org/gitlab/-/issues/344021)
  - [ ] Complete bug fix - ["Merge" button appears instead of "Start merge train" when manual jobs are not triggered.](https://gitlab.com/gitlab-org/gitlab/-/issues/382394)
  - [~] Duplicate - Complete bug fix - [Incorrect merge button appearing when waiting for manual action](https://gitlab.com/gitlab-org/gitlab/-/issues/300663) 

### Milestone 16.6 (October 17, 2023 - November 10, 2023)

#### Team Capacity:

  -

#### Goals:

  -

### Milestone 16.7 (November 13, 2023 - December 8, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.8 (December 11, 2023 - January 12, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.9 (January 15, 2023 - February 9, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.10 (February 12, 2023 - March 8, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 16.11 (March 11, 2023 - April 12, 2023)

#### Team Capacity:

  -

#### Goals:

  -


### Milestone 17.0 (April 15, 2023 - May 10, 2023)

#### Team Capacity:

  -

#### Goals:

  -
